[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
install = "*"
ipykernel = "*"
flask = "*"
beautifulsoup4 = "*"
lxml = "*"
flask-sqlalchemy = "*"
numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
